@model archive.Models.Taskset.IndexViewModel
@using System.Web

<h1>@Model.Course.Name</h1>
<a asp-controller="Taskset" asp-action="Create"
   asp-route-forCourseId="@Model.Course.Id">Dodaj egzamin</a>
<hr/>

<h2>Filtrowanie:</h2>
<div class="row">
<form method="GET" asp-controller="Taskset" asp-action="IndexFilter" asp-route-id="@Model.Course.Id">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="yearFrom"></label>
            <input asp-for="yearFrom" class="form-control" min="1970" max="3000" required/> 
            <span asp-validation-for="yearFrom" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="yearTo"></label>
            <input asp-for="yearTo" class="form-control" min="1970" max="3000" required/> 
            <span asp-validation-for="yearTo" class="text-danger"></span>
        </div>
         <div class="form-group">
            <label asp-for="haveTasks"></label>
            <input asp-for="haveTasks" class="form-control"/> 
            <span asp-validation-for="haveTasks" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="haveSolutions"></label>
            <input asp-for="haveSolutions" class="form-control"/> 
            <span asp-validation-for="haveSolutions" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input type="submit" value="Filtruj" class="btn btn-primary"/>
        </div>
    </form>
</div>

<h2>Lista egzaminów:</h2>
@{
    int lastYear = 0;
    string courseShortcutEncoded = 
        Model.Course.ShortcutCode != null ? HttpUtility.UrlEncode(Model.Course.ShortcutCode) : null;
}
@foreach (var taskset in Model.Tasksets)
{
    if (lastYear != taskset.Year) {
        if(lastYear != 0)
        {
            @:</ul>
        }
        <h3>
            @taskset.Year
        </h3>
        @:<ul>
        lastYear = taskset.Year;
    }

    <li>
        @if (courseShortcutEncoded == null || taskset.ShortcutCode == null)
        {
            <a asp-controller="Taskset" asp-action="ShowTaskset" asp-route-id="@taskset.Id">
                @taskset.Name
            </a>
        }
        else
        {
            <a href="/s/@courseShortcutEncoded/@HttpUtility.UrlEncode(taskset.ShortcutCode)">@taskset.Name</a>
        }
    </li>

}
@if (lastYear != 0)
{
    @:</ul>
}
