@model archive.Models.Taskset.IndexViewModel

<h1>@Model.Course.Name</h1>
<a asp-controller="Taskset" asp-action="Create"
   asp-route-forCourseId="@Model.Course.Id">Dodaj egzamin</a>
<hr/>

<h2>Lista egzaminów:</h2>
@{
    int lastYear = 0;
}
@foreach (var taskset in Model.Tasksets)
{
    if (lastYear != taskset.Year) {
        if(lastYear != 0)
        {
            @:</ul>
        }
        <h3>
            @taskset.Year
        </h3>
        @:<ul>
        lastYear = taskset.Year;
    }
    
    <li><a asp-controller="Taskset" asp-action="ShowTaskset"
       asp-route-id="@taskset.Id">
       @taskset.Name
    </a>
    </li>

}
@if (lastYear != 0)
{
    @:</ul>
}
