@model archive.Models.Taskset.TasksetViewModel

<h1>Archwium zadań</h1>

<h2>@Model.Taskset.Name (@Model.Taskset.Year):</h2>
@foreach (var task in Model.Tasks)
{
    <h3>
    @task.Name
    </h3>
    <pre style="white-space: pre-wrap; word-wrap: break-word;">@task.Content</pre>

    int counter = 0;

    foreach (var solution in Model.ListOfSolutions[task.Id])
    {
        if(counter != 0)
        {
            @:</ul>
        }
        counter++;
        <li>
        <a asp-controller="Solution" asp-action="show"
        asp-route-solutionId="@solution.Id" >rozwiązanie @counter
        </a>
        </li>
       

    }

    @if (counter != 0)
    {
    @:</ul>
    }
}