@model archive.Models.Solution.SolutionViewModel
@{
    ViewData["Title"] = Model.Task.Name + " (Rozwiązanie)";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Model.Task.Taskset.Course.Name</h1>
<h2>@Model.Task.Taskset.Name (@Model.Task.Taskset.Year)</h2>
<hr/>

<h2>@Model.Task.Name (Rozwiązanie)</h2>
<article>
    <section>
        <pre>@Model.Task.Content</pre>
    </section>
    <section>
        <p><em>Rozwiązanie:</em></p>
        <pre style="margin-left: 5mm; white-space: pre-wrap; word-wrap: break-word;">@Model.Solution.Content</pre>
    </section>
</article>

