@using archive.Data.Entities
@using Microsoft.CodeAnalysis.CSharp.Syntax
@model archive.Models.Solution.SolutionViewModel
@{
    ViewData["Title"] = Model.Task.Name + " (Rozwiązanie)";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Model.Task.Taskset.Course.Name</h1>
<h2>@Model.Task.Taskset.Name (@Model.Task.Taskset.Year)</h2>
<hr/>

<h2>@Model.Task.Name (Rozwiązanie)</h2>
<article>
    <section>
        <pre>@Model.Task.Content</pre>
    </section>
    <section>
        <p><em>Rozwiązanie:</em></p>
        <pre style="margin-left: 5mm; white-space: pre-wrap; word-wrap: break-word;" class="Solution">@Model.Solution.Content</pre>
        <section>
            <style scoped>
                .Comment {
                    display: grid;
                    grid-template-areas: "Date Author" "Content Content";
                    margin-bottom: 16px;
                }

                .Comment .AuthorHere::before {
                    color: dimgray;
                    margin-right: 1mm;
                    content: "Autor:";
                }
                .Comment .AuthorHere { 
                    font-size: 80%; 
                    grid-area: Author
                }

                .Comment .DateHere::before {
                    color: dimgray;
                    margin-right: 3px;
                    content: "Data:";
                }
                .Comment .DateHere { 
                    font-size: 80%; 
                    grid-area: Date 
                }

                .Comment .ContentHere { grid-area: Content }
            </style>
            <section>

                @{
                    var counter = Model.Counter;
                    double rating = Model.GoodVotes;
                    double average = counter == 0 ? 0 : rating / counter;
                    var percent = average * 100;
                }
                <p> Ocena: @percent % (@rating / @Model.Counter)
                </p>
            </section>
            <form asp-action="AddRating">
                <button asp-action="AddRating" asp-route-solutionId="@Model.Solution.Id" asp-route-rating="true">Dobre rozwiązanie</button>
                <button asp-action="AddRating" asp-route-solutionId="@Model.Solution.Id" asp-route-rating="false">Złe rozwiązanie</button>
            </form>
            <p><em>Komentarze:</em></p>
            @if (Model.Solution.Comments != null)
            {
                foreach (var a in Model.Solution.Comments)
                 {
            <div class="Comment">
                <div class="AuthorHere">
                    <a asp-controller="User" asp-action="ShowProfile" asp-route-name="@a.ApplicationUser.UserName">
                        @a.ApplicationUser.UserName
                    </a>
                </div>
                <div class="DateHere">@a.CommentDate.AddHours(2)</div>
                <div class="ContentHere">
                    @a.Content
                </div>
            </div>
                 }
            }
            @if(Model.Solution.Comments == null || Model.Solution.Comments?.Count() == 0){
            <p>brak</p>
            }
            <br>
            <a asp-controller="Solution" asp-action="CreateComment"
               asp-route-forSolutionId="@Model.Solution.Id">Dodaj komentarz</a>
        </section>
    </section>

</article>

