@model archive.Models.Taskset.AddAttachmentsModel

<h1>@Model.Task.Taskset.Course.Name</h1>
<h2>@Model.Task.Taskset.Name (@Model.Task.Taskset.Year):</h2>
<h2>@Model.Task.Name</h2>
<pre style="white-space: pre-wrap; word-wrap: break-word;">@Model.Task.Content</pre>
<h2>Załączniki:</h2>
@foreach (var file in Model.Task.Attachments)
{
    <a asp-controller="Storage" asp-action="Index" asp-route-id="@file.File.Id">@file.File.FileName</a>
    <span> — </span><a asp-controller="Task" asp-action="RemoveAttachment" asp-route-taskId="@Model.Task.Id" asp-route-fileId="@file.File.Id">Usuń!</a>
    <br/>
}
<hr/>

<form asp-controller="Task" asp-action="AddAttachments" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input asp-for="EntityId" hidden/>
    <div class="form-group">
        <label asp-for="Attachments"></label>
        <input asp-for="Attachments" class="form-control" type="file" multiple/>
        <span asp-validation-for="Attachments" class="text-danger"></span>
    </div>
    <input value="Dodaj!" type="submit" class="btn btn-primary"/>
</form>