@model archive.Models.Task.CreateTaskViewModel
@{
    ViewData["Title"] = "Nowe zadanie";
}

@if (Model.Taskset != null)
{
    <h1>@Model.Taskset.Course.Name</h1>
    <h2>@Model.Taskset.Name (@Model.Taskset.Year)</h2>  
    <hr/>
}

<h2>@Html.DisplayNameFor(model => model)</h2>
<hr/>

<div class="row">
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        
        @if (Model.Taskset == null) /* No taskset specified */
        {
            <div class="form-group">
                <label asp-for="Courses"></label>
                <select id="course-select" asp-items="Model.Courses" class="form-control"
                        onchange="showTasksetsForCourse(this.value)" required>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="TasksetId"></label>
                <select id="taskset-select" asp-for="TasksetId" asp-items="Model.Tasksets" class="form-control" required>
                    <option value="">--- Wybierz zbiór zadań ---</option>
                </select>
                <span asp-validation-for="TasksetId" class="text-danger"></span>
            </div>
        }
        else /* Create task for particular taskset */
        {
            <input asp-for="TasksetId" value="@Model.Taskset.Id" hidden/>
        }
        <div class="form-group">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" required/>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Content"></label>
            <textarea asp-for="Content" class="form-control" cols="120" rows="20" autofocus required></textarea>
            <span asp-validation-for="Content" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Attachments"></label>
            <input asp-for="Attachments" class="form-control" type="file" multiple/>
            <span asp-validation-for="Attachments" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Dodaj" class="btn btn-primary"/>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    @if (Model.Taskset == null)
    {
        <script>
            function showTasksetsForCourse(courseName) {
                // Hide other courses tasksets
                $("#taskset-select").find("optgroup").each(function(_, optgroup) {
                    optgroup.hidden = (optgroup.label !== courseName);
                });
                // Reset to default option
                $("#taskset-select").val("");
            }

            // Hide also after page load
            $(function() {
                var value = $("#course-select option:selected").text();
                showTasksetsForCourse(value);
            });
        </script>
    }
}