@model TasksViewModel
<h1>@Model.CourseName</h1>
<h1>@Model.TasksetName - @Model.TasksetYear</h1>
@foreach (var task in Model.Tasks)
{
    <article class="card">
        <div class="card-body">
            <h3> </h3>
            <pre style="white-space: pre-wrap; word-wrap: break-word;">@task.Content</pre>
            <a asp-controller="Home" asp-action="Solutions"
               asp-route-taskName="@task.Name"
               asp-route-courseName="@Model.CourseName"
               asp-route-tasksetName="@Model.TasksetName"
               asp-route-tasksetYear="@Model.TasksetYear">
                Rozwiazania
            </a>
        </div>
    </article>
}

