@model TasksViewModel

<h1>@Model.CourseName</h1>
<h1>@Model.TasksetName - @Model.TasksetYear</h1>

@foreach (var task in Model.Tasks)
{
    <article class="card">
        <div class="card-body">
            <h3>@task.Name </h3>
            <p>
                @task.Content
            </p>
        </div>
    </article>
}