@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model archive.Models.User.ProfileViewModel
@{
    ViewData["Title"] = $"Profil użytkownika {@Model.UserName}.";
}

@if (Model.AvatarImage != null)
{
    var base64 = Convert.ToBase64String(Model.AvatarImage);
    var imgSrc = $"data:image/gif;base64,{base64}";
    <img src="@imgSrc" width="220px" height="280px" alt="Awatar użytkownika"/>
}
else
{
    <img src="img/default-avatar.jpg" width="220px" height="280px"/>
}

<label asp-for="UserName"></label>
<pre>@Model.UserName</pre>

<label asp-for="HomePage"></label>
<pre>@Model.HomePage</pre>

<label asp-for="Email"></label>
<pre>@Model.Email</pre>

<label asp-for="Phone"></label>
<pre>@Model.Phone</pre>

<label asp-for="LastActive"></label>
<pre>@Model.LastActive</pre>